{% comment %}
  @colaborator receive the colaborator object 

  @class receive css class string 
{% endcomment %}

<li class="{{ class }} text-center px-4">
  <img
    src="{{ colaborator.avatar | img_url: '300x' }}"
    alt="{{ colaborator.name | escape }}"
    height="{{ 300 | divided_by: colaborator.avatar.aspect_ratio }}"
    loading="lazy"
    width="300"
    class="block aspect-square rounded-[50%] object-center object-cover mx-auto mb-4"
    />
  <h3 class="font-bold">{{ colaborator.name | escape }}</h3>
  <span>{{ colaborator.role | escape }}</span>  
</li>