{%- liquid
  assign on_sale = false
  assign month = 30 | times: 24 | times: 60 | times: 60
  assign date_created = product.created_at | date: "%Y-%m-%d"
  assign dead_line = "now" | date: "%s" | minus: month | date: "%Y-%m-%d"
  if product.compare_at_price_max > product.price
    assign on_sale = true
  endif
-%}

<li class="{{ class }} relative border border-[#13203A] p-2 lg:p-4"> 
  <div class="relative">
    {% if date_created > dead_line %}
      <span class="absolute bottom-2 left-0 text-center bg-[#00C13E] text-white uppercase font-bold rounded-tr-[50px] text-sm rounded-br-[50px] px-4 py-1">
        Nuevo
      </span>
    {% endif %}

    {% comment %} bg-[#00C13E] {% endcomment %}
    <img
      src="{{ product.featured_image.src | img_url: '500x' }}"
      alt="{{ product.featured_image.alt | escape }}"
      width="500"
      height="{{ 500 | divided_by: product.featured_image.aspect_ratio | ceil }}"
      loading="lazy"
      class="w-full object-cover aspect-square object-center">
    <a href="{{ product.url }}" class="block absolute top-0 left-0 bottom-0 right-0 z-[2]"></a>
  </div>
  <div class="pb-3">
    <a href="{{ product.url }}">
      <h3 class="uppercase text-[#00C13E] font-black text-[18px] lg:text-[22px] line-clamp-2 leading-none my-2">{{ product.title | escape }}</h3>
      <p class="text-[14px] uppercase lg:text-[16px] text-semibold leading-none mb-2 line-clamp-1">{{ product.metafields.custom.text_descripcion.value | escape }}</p>
    </a>
  </div>
  <div class="flex items-center">
    <a
      href="https://wa.me/56986622371/?text=Hola%2C%20estoy%20interesado%20en%20m%C3%A1s%20informacion%20de%20{{ product.title | url_encode }}"
      role="button"
      class="btn-card btn-secondary text-xs lg:text-base"
      target="_blank"
    >
      Cotiza Aquí
    </a>
    <a href="{{ product.url }}" class="btn-card btn-blue text-xs lg:text-base">
      Ver detalle
    </a>
  </div>
</li> 

